{% extends "base-red.html" %}
{% block content %}
{% if errors %}
<div class="row">
    <div class="card red lighten-4">
        <div class="card-content">
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% if step != 4 %}
<form method="post">
{% else %}
<form method="post" enctype="multipart/form-data">
{% endif %}
	{% csrf_token %}
	<div class="row">
		{% if not step %}
		<div class="input-field">
			<label class="active" for="id_year">Annee :</label>
			<select name="year" id="id_year">
				{% for year in years %}
				<option value="{{ year.pk }}">{{ year.year }}</option>
				{% endfor %}
			</select>
		</div>
		{% else %}
		<div class="input-field">
            <input type="hidden" name="year" value="{{ year.pk }}">
			<label class="active" for="id_year">Annee :</label>
			<select name="year" id="id_year" disabled>
				<option value="{{ year.pk }}">{{ year.year }}</option>
			</select>
		</div>
		{% endif %}
		{% if step == 1 %}
		<div class="input-field">
			<label class="active" for="id_semester">Semestre :</label>
			<select name="semester" id="id_semester">
				{% for semester in semesters %}
				<option value="{{ semester.pk }}">{{ semester.semester }}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
		{% if step > 1 %}
		<div class="input-field">
            <input type="hidden" name="semester" value="{{ semester.pk }}">
			<label class="active" for="id_semester">Semestre :</label>
			<select name="semester" id="id_semester" disabled>
				<option value="{{ semester.pk }}">{{ semester.semester }}</option>
			</select>
		</div>
		{% endif %}
		{% if step == 2 %}
		<div class="input-field">
			<label class="active" for="id_subject">Matiere :</label>
			<select name="subject" id="id_subject">
                {% if user.is_staff %}
                <option value="0">None</option>
                {% endif %}
				{% for subject in subjects %}
				<option value="{{ subject.pk }}">{{ subject.subject }}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
		{% if user.is_staff and step == 2 %}
			<label class="active" for="id_new_subject">Nouvelle Matiere :</label>
			<input type="text" id="id_new_subject" name="new_subject">
		{% endif %}
        {% if step > 2 %}
        <div class="input-field">
            <input type="hidden" name="subject" value="{{ subject.pk }}">
            <label class="active" for="id_subject">Matiere : </label>
            <select name="subject" id="id_subject" disabled>
                <option value="{{ subject.pk }}">{{ subject.subject }}</option>
            </select>
        </div>
        {% endif %}
        {% if step == 3 %}
        {% if user.is_staff %}
        <div class="row light-blue lighten-3">
            <div class="col push-1 s10">
            <h6><b>Selection d'une catégorie déjà existante :</b></h6>
        {% endif %}
                <div class="input-field">
                    <label class="active" for="id_category">Category</label>
                    <select name="category" id="id_category">
                    {% if user.is_staff %}
                        <option value="0">None</option>
                    {% endif %}
                    {% for cat in categories %}
                        <option value="{{ cat.pk }}">{{ cat.title }}</option>
                    {% endfor %}
                    </select>
                </div>
        {% if user.is_staff %}
            </div>
        </div>
        <h5>OU</h5>
        <div class="row teal lighten-3">
            <div class="col push-s0 s10">
                <h6><b>Ajout d'une nouvelle catégorie :</b></h6>
            <div class="input-field">
                <label class="active" for="id_new_category_title">Titre :</label>
                <input type="text" id="id_new_category_title" name="new_category_title">
            </div>
            <div class="input-field">
                <label class="active" id="id_new_category_place">Place de la catégorie dans la page :</label>
                <p class="range-field">
                    <input type="range" id="id_new_category_place" name="new_category_place" min="1" max="{{ max }}">
                </p>
            </div>
            <div class="input-field">
                <label class="active" id="id_new_category_type">Type de ressources des fichiers de la catégorie :</label>
                <select id="id_new_category_type" name="new_category_type">
                    <option value="0">None</option>
                    {% for type in types %}
                    <option value="{{ type.pk }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row orange lighten-4">
                <h5>OU</h5>
                <div class="col push-s1 s10">
                    <h6><b>Nouveau type de catégorie :</b></h6>
                    <div class="input-field">
                        <label class="active" id="id_new_type_type">Type de catégorie :</label>
                        <input type="text" id="id_new_type_type" name="new_type_type">
                    </div>
                    <div class="input-field">
                        <label class="active" id="id_new_type_color">Couleur de catégorie :</label>
                        <input type="text" id="id_new_type_color" name="new_type_color">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% if step > 3 %}
        <div class="input-field">
            <input type="hidden" name="category" value="{{ category.pk }}">
            <label class="active" for="id_category">Catégorie : </label>
            <select name="subject" id="id_category" disabled>
                <option value="{{ category.pk }}">{{ category.title }}</option>
            </select>
        </div>
        {% endif %}
        {% if step == 4 %}
        <div class="section">
            <h5>Titre du nouveau fichier/ressource</h5>
            <div class="input-field">
                <label class="active" for="id_filename">Titre :</label>
                <input type="text" id="id_filename" name="filename">
            </div>
        </div>
        <div class="row light-blue lighten-3">
            <div class="col push-s0 s10">
                <h6>Ajout d'un fichier par upload :</h6>
                <div class="input-field file-field">
                    <div class="btn red">
                        <span>Upload file</span>
                        <input type="file" accept=".pdf,.md,.txt,.zip,.py,.c" id="id_file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload file"/>
                    </div>
                </div>
                <div class="input-field">
                    <label class="active" for="id_color">Classe du fichier :</label>
                    <select name="color" id="id_color">
                        {% if user.is_superuser %}
                        <option value="0">None</option>
                        {% endif %}
                        {% for color in colors %}
                        <option value="{{ color.pk }}">{{ color.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if user.is_superuser %}
                <div class="col push-s1 s10 orange lighten-4">
                    <h5>OU</h5>
                    <div>
                        <h6><b>Nouvelle classe :</b></h6>
                        <div class="input-field">
                            <label class="active" id="id_new_color_type">Type de fichier :</label>
                            <input type="text" id="id_new_color_type" name="new_color_type">
                        </div>
                        <div class="input-field">
                            <label class="active" id="id_new_color_color">Couleur :</label>
                            <input type="text" id="id_new_color_color" name="new_color_color">
                        </div>
                    </div>
                </div>
                <div class="col push-s1 s10 orange lighten-4">
                    <h6>L'extension est choisie automatiquement<br></h6>
                    <h5>OU</h5>
                    <div>
                        <h6><b>Nouvelle extension :</b></h6>
                        <div class="input-field">
                            <label class="active" id="id_new_extension_type">Type de fichier :</label>
                            <input type="text" id="id_new_extension_type" name="new_extension_type">
                        </div>
                        <div class="input-field">
                            <label class="active" id="id_new_extension_extension">Extension :</label>
                            <input type="text" id="id_new_extension_extension" name="new_extension_extension">
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <h5>OU</h5>
        <div class="row teal lighten-3">
            <div class="col push-s1 s10">
                <h6>Ajout d'une ressource via lien URL :</h6>
                <div class="input-field">
                    <label class="active" for="id_url">Lien URL :</label>
                    <input type="text" id="id_url" name="url">
                </div>
            </div>
        </div>
        {% endif %}
    </div>

	<button type="submit" value="next">Next</button>
</form>
{% endblock %}
