{% extends "base-red.html" %}
{% block content %}
{% if step != 4 %}
<form method="post">
{% else %}
<form method="post" enctype="multipart/form-data">
{% endif %}
	{% csrf_token %}
	<div class="row">
		{% if not step %}
		<div class="input-field">
			<label class="active" for="id_year">Annee :</label>
			<select name="year" id="id_year">
				{% for year in years %}
				<option value="{{ year.pk }}">{{ year.year }}</option>
				{% endfor %}
			</select>
		</div>
		{% else %}
		<div class="input-field">
            <input type="hidden" name="year" value="{{ year.pk }}">
			<label class="active" for="id_year">Annee :</label>
			<select name="year" id="id_year" disabled>
				<option value="{{ year.pk }}">{{ year.year }}</option>
			</select>
		</div>
		{% endif %}
		{% if step == 1 %}
		<div class="input-field">
			<label class="active" for="id_semester">Semestre :</label>
			<select name="semester" id="id_semester">
				{% for semester in semesters %}
				<option value="{{ semester.pk }}">{{ semester.semester }}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
		{% if step > 1 %}
		<div class="input-field">
            <input type="hidden" name="semester" value="{{ semester.pk }}">
			<label class="active" for="id_semester">Semestre :</label>
			<select name="semester" id="id_semester" disabled>
				<option value="{{ semester.pk }}">{{ semester.semester }}</option>
			</select>
		</div>
		{% endif %}
		{% if step == 2 %}
		<div class="input-field">
			<label class="active" for="id_subject">Matiere :</label>
			<select name="subject" id="id_subject">
                {% if user.is_staff %}
                <option value="0">None</option>
                {% endif %}
				{% for subject in subjects %}
				<option value="{{ subject.pk }}">{{ subject.subject }}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
		{% if user.is_staff and step == 2 %}
			<label class="active" for="id_new_subject">Nouvelle Matiere :</label>
			<input type="text" id="id_new_subject" name="new_subject">
		{% endif %}
        {% if step > 2 %}
        <div class="input-field">
            <input type="hidden" name="subject" value="{{ subject.pk }}">
            <label class="active" for="id_subject">Matiere : </label>
            <select name="subject" id="id_subject" disabled>
                <option value="{{ subject.pk }}">{{ subject.subject }}</option>
            </select>
        </div>
        {% endif %}
        {% if step == 3 %}
        <div class="input-field">
            <label class="active" for="id_category">Category</label>
            <select name="category" id="id_category">
            {% if user.is_staff %}
                <option value="0">None</option>
            {% endif %}
            {% for cat in categories %}
                <option value="{{ cat.pk }}">{{ cat.title }}</option>
            {% endfor %}
            </select>
	    </div>
        {% endif %}
        {% if user.is_staff and step == 3 %}
        <label class="active" for="id_new_category">Nouvelle Categorie :</label>
        <input type="text" id="id_new_category" name="new_category">
        <select name="list_category" id="id_list_category">
        {% for cat in type %}
            <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
        </select>
        {% endif %}
        {% if step > 3 %}
        <div class="input-field">
            <input type="hidden" name="category" value="{{ category.pk }}">
            <label class="active" for="id_category">Categorie : </label>
            <select name="category" id="id_category" disabled>
                <option value="{{ category.pk }}">{{ category.title }}</option>
            </select>
        </div>
        {% endif %}
        {% if step == 4 %}
        <div class="input-field">
            <label class="active" for="id_file">Nouveau fichier : </label>
            <input type="file" accept=".pdf,.md,.txt,.zip" id="id_file" name="file">
            <label class="active" for="id_filename">Titre : </label>
            <input type="text" id="id_filename" name="filename">
        </div>
        <div class="input-field">
            <label class="active" for="id_extension">Extension du fichier : </label>
            <select name="extension" id="id_extension">
            {% for extension in extensions %}
                <option value="{{ extension.pk }}">{{ extension.type }}</option>
            {% endfor %}
            </select>
       </div>
       <div class="input-field">
            <label class="active" for="id_link">Lien URL : </label>
            <input type="text" id="id_link" name="link">
        </div>
        {% endif %}
        </div>

	<button type="submit" value="next">Next</button>
</form>
{% endblock %}
