{% extends "base-red.html" %}
{% block content %}
{% if error is not None %}
<div class="container">
    <div class="center card-panel red accent-3">
        {{ error }}
    </div>
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            <input maxlength="150" id="id_begin" type="text" name="begin" required autofocus/>
            <label class="active" for="id_begin">Nom de la matière</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choisissez l'année</option>
                {% for item in year %}
                    {{ item }}
                {% endfor %}
            </select>
            <label>Année :</label>
        </div>
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choisissez le semestre</option>
                {% for item in semestre %}
                    {{ item }}
                {% endfor %}
            </select>
            <label>Semestre :</label>
        </div>
        <div class="input-field col s12">
            <select>
                <option value="" disabled selected>Choisissez la matière</option>
                {% for item in subject %}
                    {{ item }}
                {% endfor %}
            </select>
            <label>Matière :</label>
        </div>
    </div>
    <div class="center">
        <input class="waves-effect waves-light btn blue lighten-2" type="submit" value="Créer">
    </div>
</form>
{% endblock %}