{% extends "base-red.html" %}
{% block content %}
{% if error is not None %}
<div class="container">
    <div class="center card-panel red accent-2">
        {{ error }}
    </div>
</div>
{% endif %}
<p style="font-size: x-large">Entrez votre nouveau mot de passe :</p>
<form class="site-form" action="/change_password/{{ uidb64 }}/{{ token }}/" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            <input maxlength="50" id="id_password1" name="password1" type="password" class="validate" required autofocus>
            <label class="active" for="id_password1">Entrez votre mot de passe</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input maxlength="50" id="id_password2" name="password2" type="password" class="validate" required>
            <label class="active" for="id_password2">Retapez votre mot de passe</label>
        </div>
    </div>
    <div class="center">
        <input class="waves-effect waves-light btn blue lighten-2" type="submit" name="submit" value="Envoyer"/>
    </div>
</form>
{% endblock %}