{% extends "base.html" %}
{% block content %}
<nav>
    <div class="nav-wrapper grey">
        <div class="col s12">
            <a class="breadcrumb" href="/{{ school }}/">{{ school }}</a>
            <a class="breadcrumb" href="/{{ school }}/{{ year }}/">{{ year }}</a>
            <a class="breadcrumb">Semestre {{ semester }}</a>
            <a class="breadcrumb"><b>{{ subject }}</b></a>
        </div>
    </div>
</nav>

{% if contents is not None %}
{% for category, files in contents.items %}
    <div class="card {{ category.classe.color }} lighten-4">
        <div class="card-content">
            <span class="card-title"><b>{{ category.title }}</b></span>
                {% for file in files %}
                <a class="waves-effect waves-light {{ file.2 }} btn" href="{{ file.1 }}">{{ file.0.name }}</a>
                {% endfor %}
        </div>
        {% if user.is_staff %}
        <div class="card-action">
            <a href="/static_content/change/category/{{ category.pk }}/?next={{ request.path }}">Modifier</a>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% else %}
    <div class="card grey lighten-4">
        <div class="card-content">
            <p>Pas de ressources disponibles pour le moment.</p>
        </div>
    </div>
{% endif %}
{% endblock %}