{% extends "base.html" %}
{% block content %}

{% if bulletins %}
{% for bulletin in bulletins %}
<div class="card green lighten-4">
    <div class="card-content">
        <span class="card-title">{{ bulletin.title }}</span>
        {% autoescape on %}
        <p>{{ bulletin.body|linebreaksbr }}</p>
        {% endautoescape %}
    </div>
    {% if bulletin.files %}
    <div class="card-action">
        {% for file in bulletin.files %}
        <a style="color:#384cda; font-weight: bold;" target="_blank" href="{{ file.url }}">{{ file.title }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %}
{% else %}
<div class="card grey lighten-4">
    <div class="card-content">
    <p>Pas d'information pour le moment.</p>
    </div>
</div>
{% endif %}
{% if user.is_staff %}
<button class="btn blue" style="float: right;" onclick="location.href = '/static_content/add/information/{{ school }}/{{ year }}/';">Ajouter une information</button>
{% endif %}
{% endblock %}
