{% extends "base.html" %}
{% block content %}

{% load cache %}
{% cache 600 infos school year %}
{% if infos %}
{% for title, info in infos %}
<div class="card green lighten-4">
    <div class="card-content">
        <span class="card-title">{{ title }}</span>
        {% autoescape on %}
        <p>{{ info }}</p>
        {% endautoescape %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="card grey lighten-4">
    <div class="card-content">
    <p>Pas d'information pour le moment.</p>
    </div>
</div>
{% endif %}
{% endcache %}
{% if user.is_staff %}
<button class="btn blue" style="float: right;" onclick="location.href = '/static_content/add/information/{{ school }}/{{ year }}/';">Ajouter une information</button>
{% endif %}
{% endblock %}
