{% extends "base-red.html" %}
{% block content %}
<form method="post" action="/static_content/del/subject/{{ subject.pk }}/?next={{ next }}">
    {% csrf_token %}
    <div class="row">
        <p>Êtes-vous sûr de vouloir supprimer la matière et ses ressources associées ?</p>
    </div>
    <div class="center">
        <input type="submit" name="delete" value="Supprimer" class="waves-effect waves-light btn red lighten-2">
        <input type="submit" name="cancel" value="Annuler" class="waves-effect waves-light btn blue lighten-2">
    </div>
</form>
{% endblock %}