{% extends "base.html" %}
{% block content %}
<div class="row">
    <nav>
        <div class="nav-wrapper grey">
            <div class="col m12">
                <a href="/{{ school.school }}/{{ year.year }}" class="breadcrumb">{{ year.year }}</a>
                <a href="#" class="breadcrumb">S{{ semester.semester }}</a>
                <a href="/{{ school.school }}/{{ year.year }}/{{ semester.semester }}/{{ file.content.subject.subject }}" class="breadcrumb">{{ file.content.subject.subject }}</a>
                <a href="#" class="breadcrumb">{{ category.title }}</a>
                <a href="#" class="breadcrumb">{{ file.content.name }}</a>
            </div>
        </div>
    </nav>
</div>
<div class="row">
    <iframe src="{% url 'get-secured-file' token %}" width="100%" height="100%" style="overflow: auto; width: 100%; height: 90vh;"></iframe>
</div>
{% endblock %}