{% extends "base.html" %}
{% block content %}
<div class="row">
    <nav>
        <div class="nav-wrapper grey">
            <div class="col s12">
                <a href="/{{ year.year }}" class="breadcrumb">{{ year.year }}</a>
                <a href="/{{ year.year }}/{{ semester.semester }}/" class="breadcrumb">{{ semester.semester }}</a>
                <a href="/{{ year.year }}/{{ semester.semester }}/{{ category.title }}/" class="breadcrumb">{{ category.title }}</a>
                <a href="#" class="breadcrumb">{{ file.content.name }}</a>
            </div>
        </div>
    </nav>
</div>
<div class="row">
    <div class="pdfobject-container s12">
        <object data="{% url 'get-secured-file' token %}" type="application/pdf" width="100%" height="100%" style="overflow: auto; width: 100%; height: 64vh;"></object>
    </div>
</div>
{% endblock %}