<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="description" content="Les exams, les TD et les correction de l'EPITA"/>
    <meta name="keywords" content="annales examens exams TD correction corrigés epita sup spé ing1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="https://static.hyperion.tf/hyperion/img/favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css"/>
    <title>HyperAnnales 3.0 (dev)</title>
</head>
<body style="background-color: #e0e0e0;">
<div class="row">
    <header class="">
        <h1 class="left" style="#000000;">Bienvenue sur HyperAnnales</h1>
    </header>
    <div class="divider"></div>
    <div class="col s3" style="background-color: #3CAFFB;">
        <ul class="collapsible">
            <li>
                <a href="/" style="color:black; background-color: #3C72FB;"><div class="collapsible-header waves-effect">Accueil</div></a>
            </li>
            <li>
                <a href="#" style="color:black; background-color: #3C72FB;"><div class="collapsible-header waves-effect">Documents Administratifs</div></a>
            </li>
        </ul>
    </div>
    <div class="col s9">
        <div class="col s12" style="background-color: #E0E0E0;">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>