{% extends "base-red.html" %}
{% block content %}
    <h3>Ce site permet aux épithéens d'accéder aux TP et à leur correction, ainsi qu'aux différentes épreuves antérieures (QCM, Midterms, Partiels,...)</h3>
    <div class="card amber darken-2">
        <div class="card-content">
            <span class="card-title">Choisissez votre promotion :</span>
                <ul>
                    <li><a href="#" class="waves-effect waves-light btn">2022</a></li>
                    <li><a href="#" class="waves-effect waves-light btn">2023</a></li>
                    <li><a href="#" class="waves-effect waves-light btn">2024</a></li>
                </ul>
        </div>
    </div>
{% endblock %}