{% extends "base-red.html" %}
{% block content %}
    {% if mail is not None %}
        <div class="container">
            <div class="center card-panel green accent-2">
                {{ mail }}
            </div>
        </div>
    {% endif %}
    <p>Ce site permet aux épithéens d'accéder aux TP et à leur correction, ainsi qu'aux différentes épreuves antérieures (QCM, Midterms, Partiels,...)</p>
    <div class="card amber darken-2">
        <div class="card-content">
            <span class="card-title">Choisissez votre promotion :</span>
            <ul>
                <a href="#" class="waves-effect waves-light btn">2022</a>
                <a href="#" class="waves-effect waves-light btn">2023</a>
                <a href="#" class="waves-effect waves-light btn">2024</a>
                <a onclick="M.toast({html: 'Votai Test.'})" class="waves-effect waves-light btn">Test</a>
            </ul>
        </div>
    </div>
{% endblock %}