{% extends "base-red.html" %}
{% block content %}
{% if message is not None %}
<div class="container">
    <div class="center card-panel green accent-2">
        {{ message }}
    </div>
</div>
{% endif %}
<div class="row container">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab"><a href="#contrib">Contributions</a></li>
            {% if user.is_staff %}
            <li class="tab"><a href="#handle">Gestion</a></li>
            {% else %}
            <li class="tab disabled"><a href="#">Gestion</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="contrib" class="col s12">
        <ul class="collapsible">
            {% for file in contribution %}
            <li>
                <div class="collapsible-header">
                    <p>{{ file.year }} > S{{ file.semester }} > {{ file.subject }} > {{ file.category }} > {{ file.name }}</p>
                </div>
                <div class="collapsible-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>Vues</td>
                                <td>{{ file.file.views }}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{ file.file.date }}</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>{{ file.file.extension.type }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="waves-effect waves-light btn" href="/static_content/change/{{ file.random_key }}">Modifier</a>
                    <a class="waves-effect waves-light btn" href="#">Ouvrir</a>
                </div>
            </li>
            {% endfor %}
            <li>
                <a href="/static_content/add/file/" style="color:black;">
                    <div class="collapsible-header waves-effect">Ajouter un nouveau fichier</div>
                </a>
            </li>
        </ul>
    </div>
    <div id="handle" class="col s12">
        {% if user.is_staff %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    Années
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible">
                        {% for year in years %}
                        <li>
                            <div class="collapsible-header">
                                {{ year.year }}
                            </div>
                           <div class="collapsible-body">
                               <p>Semestre actuel : {{ year.active_semester.semester }}</p>
                               <a class="waves-effect waves-light btn" href="/static_content/change/year/{{ year.pk }}">Modifier</a>
                           </div>
                        </li>
                        {% endfor %}
                        <li>
                            <a href="/static_content/add/year/" style="color:black; font-size: 15px">
                                <div class="collapsible-header waves-effect">Ajouter une nouvelle année</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    Matières
                </div>
                <div class="collapsible-body">
                    <ul class="collapsible">
                        {% for year in years %}
                        <li>
                            <div class="collapsible-header">
                                {{ year.year }}
                            </div>
                            <div class="collapsible-body">
                                <ul class="collapsible">
                                    {% for semester in semesters %}
                                    <li>
                                        <div class="collapsible-header">
                                            {{ semester.semester }}
                                        </div>
                                        <div class="collapsible-body">
                                            <ul class="collapsible">
                                                {% for matiere in subjects %}
                                                {% if matiere.year.year == year.year and matiere.semester.semester == semester.semester %}
                                                <li>
                                                    <div class="collapsible-header">
                                                        {{ matiere.subject }}
                                                    </div>
                                                    <div class="collapsible-body">
                                                        <p>Année : {{ matiere.year.year }}</p>
                                                        <p>Semestre : {{ matiere.semester.semester }}</p>
                                                        <a class="waves-effect waves-light btn" href="/static_content/change/subject/{{ matiere.pk }}">Modifier</a>
                                                    </div>
                                                </li>
                                               {% endif %}
                                               {% endfor %}
                                           </ul>
                                        </div>
                                    </li>
                                   {% endfor %}
                               </ul>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
